*,
*::after,
*::before {
    padding: 0;
    margin: 0;
} 

html {
    background-color: darkslategray;
    scroll-behavior: smooth;
}

h1 {
    font-family:'Titan One', 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 800;
    color: bisque;
    text-shadow: 2px 2px black;

}

a {
    color: white;
}

p {
    color: whitesmoke;
}

.background-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color:black;
    width: 100%;
    position: fixed;
}

.headerlogo {
    height: 34px;
    width: ;
    margin-left: 24px;
    border: 4px solid bisque;
    border-radius: 120px;
    box-shadow: 1px;
}


.navlinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
    margin-left: auto;
    margin-right: 24px;
}


.navlinks a {
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 16px;
}

.navlinks a :hover {
    background-color: bisque;
    cursor: pointer;
}

/* Title Section */
.titile-section {
    display: flex;
    align-items: center;
    background-image: linear-gradient(
        60deg,
        black
        whitesmoke
    );
    
}

.mediabox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 168px 72px 72px;
    border: 5px solid goldenrod;
    border-radius: 200px;
    padding: 32px;
}

.mediabox .main-img {
    height: 210px;
    margin: 32px 40px;
    border: 12px solid bisque;
    border-radius: 120px;
    box-shadow: 3px 4px 4px black;
}

.textbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    gap: 12px;
    margin: 20px 40px;
    padding-left: 32px;
    height: 30%;
    box-shadow: 3px;
    font-family: "Goudy Old Style", 'Times New Roman', Times, serif;
}

.textbox p {
    font-size: 20px;
}

#highlight {
    font-size: 20px;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
    text-shadow: 1px 2px black;
}

/* Quote Section */
.quote-section {
    display: flex;
    flex-direction: column;
    padding: 128px 192px 96px;
    background-color:cadetblue;
    font-size: 28px;
    line-height: 150%;
    font-style: italic;
    color: whitesmoke;
}

.quote-section ul {
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}

#golden {
    font-weight: 250;
    font-size: 21px;
}

.quote-section p {
    text-align: end;
    font-style: normal;
    font-weight: 600;
    color:aliceblue;
    font-size: 24px;
}



/* Sign-up Section */


.background-container {

}